* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    background: #fefefe;
}

/* LEFT SIDE */
.sidebar {
    width: 30%;
    background: #19683e;
    color: white;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
    text-align: center;
}

.sidebar button {
    padding: 15px;
    border: none;
    background: #b9d53d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar button:hover {
    background: #364fc7;
}

/* RIGHT SIDE */
.content {
    width: 70%;
    padding: 50px;
    background: #f4f4f4;
    overflow-y: auto;
}

.content-section {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.content-section h1 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #333;
}

.content-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

/* Responsive */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .content {
        width: 100%;
    }
}


